<tr class="modal-table-row" data-name="{{name}}" {{#if description }} data-description="{{description}}" {{/if}} data-lat="{{lat}}" data-lng="{{lng}}">

    <td class="modal-table-checkboxes"><input type="checkbox" class="table-row-checkbox"></td>
    <td class="table-row-name">{{name}}</td>
    <td class="table-row-latitude">{{lat}}</td>
    <td class="table-row-longitude">{{lng}}</td>

</tr>
