<!-- This will take data from the client side or a {map_name}.json to populate a 'saved-place-entry' -->

<ul class="saved-place-entry" name="{{name}}" data-lat="{{lat}}" data-long="{{lng}}">
  <li>Place: {{name}}</li>
  <li>Lat: {{lat}}</li>
  <li>Lng: {{lng}}</li>
</ul>
