<div class="saved-place-entry" name="{{name}}" {{#if description }} data-description="{{description}}" {{/if}} data-latLng="{{latLng}}">

  <h5 class="saved-place-entry-title">{{name}}</h5>
  <button type="button" name="saved-place-entry-latLng" class="saved-place-entry-latLng">({{lat}}, {{lng}})</button>

  <div class="trash-button-container">
    <button type="button" name="trash-button" class="trash-button"><i class="far fa-trash-alt"></i></button>
  </div>

</div>
