<ul class="saved-place-entry" name="{{name}}" data-latLng="{{latLng}}">

  <li>Place: {{name}}</li>
  <li>Lat: {{lat}}</li>
  <li>Lng: {{lng}}</li>

  <div class="trash-button-container">
    <button type="button" name="trash-button" class="trash-button"><i class="far fa-trash-alt"></i></button>
  </div>

</ul>
